html {
  background: #151515;
}

body {
  color: white;
}

.title {
  color: white;
}

input.input {
  background-color: black;
  border: none;
  color: white;
}

.sequence {
  background-color: #272727;
  border: 2px solid #333;
  margin: 1rem;
  padding: 2rem;
}

.indicator {
  height: 0.6rem;
  margin: 0 40%;
  border-radius: 50%;
  border: 0.5px solid #3a3a3a;
}

.sound-select {
  padding: 0;
}

.select:not(.is-multiple):not(.is-loading)::after {
  display: none;
}

.select select:focus {
  box-shadow: none;
  border-color: white;
}

select.is-black {
  background-color: #272727;
  color: white;
  border: none;
  border-bottom: 1px dashed white;
  border-radius: 0;
}

.control {
  text-align: center;
}

.field {
  margin-top: 0.6rem;
}
